django==6.0.6
djangorestframework==3.17.1
djangorestframework-gis==1.2.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.12
geopandas==1.1.3
shapely==2.1.2
pillow==12.2.0
python-dotenv==1.2.2
whitenoise==6.12.0
pyproj==3.7.2